* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.app {
  width: 500px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 60px;
  box-shadow: 0px 0px 5px 0px black;
}
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  height: 40px;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px solid gray;
}
.navbar p {
  width: 100px;
  text-align: center;
  height: 40px;
  padding: 4px 0;
}
.input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input input {
  width: 80%;
  height: 35px;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}
.input input::placeholder {
  font-size: 14px;
}
.input button {
  height: 35px;
  width: 65px;
  border-radius: 5px;
  background-color: rgb(27, 62, 126);
  border: none;
  font-weight: 600;
  color: white;
  font-size: 15px;
}
.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}
.todo input {
  width: 20px;
  height: 20px;
}
.todo p {
  font-size: 17px;
}
.completed {
  text-decoration: line-through;
}
.selected {
  border-bottom: 3px solid rgb(27, 62, 126);
}
.todo-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon-remove {
  cursor: pointer;
}
.delete-all {
  background-color: red;
  border: none;
  outline: none;
  padding: 6px 10px;
  font-size: 17px;
  color: white;
  border-radius: 5px;
  float: right;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}
.todos {
  margin-top: 20px;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 800;
}
